<div id="Current_Timeframe_table" class="bg-light">
  <table class="table table-sm">
    <tbody>
      <tr>
        <td>
          <p>
            <span id="vehicles_moving"></span>
            <small class="text-muted">Vehicles Moving</small>
          </p>
          <p>
            <span style="padding-left:5%">
              <span id="vehicles_with_pax_moving"></span>
              <small class="text-muted">w/ Pax</small>
            </span>
          </p>
          <p>
            <span style="padding-left:5%">
              <span id="empty_vehicles_moving"></span>
              <small class="text-muted">Empty</small>
            </span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span id="vehicles_not_moving"></span>
            <small class="text-muted">Vehicles Not Moving</small>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span id="total_pax"></span>
            <small class="text-muted">Current Passengers</small>
          </p>
          <p>
            <span style="padding-left:5%">
              <span id="pax_moving"></span>
              <small class="text-muted">In Motion</small>
            </span>
          </p>
          <p>
            <span style="padding-left:5%">
              <span id="pax_waiting"></span>
              <small class="text-muted">Waiting</small>
            </span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span id="pax_served_running_total"></span>
            <small class="text-muted">Passengers Arrived Thus Far</small>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span id="pax_missed_running_total"></span>
            <small class="text-muted">Passengers Missed Thus Far</small>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
