<div id="Current_Timeframe_table" class="bg-light">
  <table class="table table-sm">
    <tbody>
      <tr>
        <td>
          <p>
            <span id="vehicles_moving"></span>
            <small class="text-muted">Vehicles currently serving customers</small>
          </p>
          <p>
            <span style="padding-left:5%">
              <span id="vehicles_with_pax_moving"></span>
              <small class="text-muted">transporting customers</small>
            </span>
          </p>
          <p>
            <span style="padding-left:5%">
              <span id="empty_vehicles_moving"></span>
              <small class="text-muted">repositioning to their next customer</small>
            </span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span id="vehicles_not_moving"></span>
            <small class="text-muted">Vehicles not moving</small>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span id="total_pax"></span>
            <small class="text-muted">Current customers</small>
          </p>
          <p>
            <span style="padding-left:5%">
              <span id="pax_moving"></span>
              <small class="text-muted">currently moving</small>
            </span>
          </p>
          <p>
            <span style="padding-left:5%">
              <span id="pax_waiting"></span>
              <small class="text-muted">Waiting for on-time departure</small>
            </span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span id="pax_served_running_total"></span>
            <small class="text-muted">Customers have been served</small>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span id="pax_missed_running_total"></span>
            <small class="text-muted">Customers have been missed</small>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
