<div id="EOD_table" class="bg-light">
  <table class="table table-sm">
    <tbody>
      <tr>
        <td>
          <h4>
            <span id="total_num_vehicles"></span>
            <small class="text-muted">Vehicles Used</small>
          </h4>
        </td>
        <td>
          <h4>
            <span id="avg_utilization_time"></span>hr
            <small class="text-muted">Avg Utilization Time</small>
          </h4>
        </td>
        <td>
          <h4>
            <span id="avg_vehicle_occupancy"></span>
            <small class="text-muted">Avg Vehicle Occupancy</small>
          </h4>
        </td>
        <td>
          <h4>
            <span id="total_miles_traveled"></span>mi
            <small class="text-muted">Total Dist. Traveled</small>
          </h4>
        </td>
        <td>
          <h4>
            <span id="empty_miles_traveled"></span>mi
            <small class="text-muted">Empty Dist. Traveled</small>
          </h4>
        </td>
      </tr>
      <tr>
        <td>
          <h4>
            <span id="total_trips"></span>
            <small class="text-muted">Total Trips</small>
          </h4>
        </td>
        <td>
          <h4>
            <span id="passengers_served"></span>
            <small class="text-muted">Passengers Served</small>
          </h4>
        </td>
        <td>
          <h4>
            <span id="passengers_missed"></span>
            <small class="text-muted">Passengers Missed</small>
          </h4>
        </td>
        <td>
          <h4>
            <span id="avg_pax_waittime"></span>min
            <small class="text-muted">Avg Pax Waittime</small>
          </h4>
        </td>
        <td>
          <h4>
            <span id="avg_added_triptime"></span>s
            <small class="text-muted">Avg Added Triptime</small>
          </h4>
        </td>
      </tr>
    </tbody>
  </table>
</div>
