<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Graph Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.4.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script type="text/javascript">
      const METRICS = {{metrics|tojson}};
      const PAX_LEFT_VS_FLEETSIZE_DATA = {{pax_left_vs_fleetsize_data}};
    </script>

    <style type='text/css'>
      body {
          padding-top: 65px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="#">TransitAV</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/choose_city">Choose City</a>
          </li>
          <li class="nav-item">
            <a id="navbarlink" class="nav-link" href="/animation">Animation</a>
          </li>
          <li class="nav-item">
            <a id="navbarlink" class="nav-link" href="/graphs">Graphs</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="card">
      <h5 class="card-header">Calculated Across Multiple Runs</h5>
      <div class="card-body">
        <div id="PassengersLeftVsFleetsize"></div>
        <p class="card-text"><b>Angry Passengers</b> are passengers that leave after waiting too long. The max wait time is 10 minutes for Trenton.</p>
      </div>
    </div>

    <div class="card">
      <h5 class="card-header">Statistics for this Current Run</h5>
      <div class="card-body">
        <p class="card-text">These are in addition to the statistics from the <a href="/animation">Animation</a> page.</p>
        <div id="PassengerWaitTimeHistogram"></div>
        <div id="AVO"></div>
        <div id="WalkDistToOriginKioskHistogram"></div>
        <p class="card-text" id="TotalWalkDistToOriginKiosk"></p>
        <div id="WalkDistToDestKioskHistogram"></div>
        <p class="card-text" id="TotalWalkDistToDestKiosk"></p>
        <div id="RideDistIfTakenAloneHistogram"></div>
        <div id="RideDistInRideshareHistogram"></div>
        <div id="DifferenceInDistanceBetweenAloneAndRideshareHistogram"></div>
      </div>
    </div>


    <script>
      var pax_left_vs_fleetsize_scatterplot = {
        x: PAX_LEFT_VS_FLEETSIZE_DATA[0],
        y: PAX_LEFT_VS_FLEETSIZE_DATA[1],
        mode: 'lines+markers',
        type: 'scatter'
      };
      var avo_scatterplot_layout = {
        title: "Angry Passengers vs Fleetsize",
        xaxis: {title: "Fleetsize (# of vehicles)"},
        yaxis: {title: "# of Angry Passengers"}
      }
      var data = [pax_left_vs_fleetsize_scatterplot];
      Plotly.newPlot('PassengersLeftVsFleetsize', data, avo_scatterplot_layout);

      ////
      var pax_wait_time_histogram = {
        x: METRICS["PassengerWaitTime"],
        type: 'histogram',
      };
      var pax_wait_time_histogram_layout = {
        title: "Passenger Wait Time",
        xaxis: {title: "Time (seconds)"},
        yaxis: {title: "Num of Passengers"}
      }
      var data = [pax_wait_time_histogram];
      Plotly.newPlot('PassengerWaitTimeHistogram', data, pax_wait_time_histogram_layout);

      ////
      var avo_scatterplot = {
        x: [...Array(METRICS["AVO"].length).keys()],
        y: METRICS["AVO"],
        mode: 'lines+markers',
        type: 'scatter'
      };
      var avo_scatterplot_layout = {
        title: "AVO over Time",
        xaxis: {title: "Time (seconds)"},
        yaxis: {title: "Average Vehicle Occupancy (in passengers)"}
      }
      var data = [avo_scatterplot];
      Plotly.newPlot('AVO', data, avo_scatterplot_layout);

      ////
      var walk_dist_to_origin_kiosk_histogram = {
        x: METRICS["WalkDistToOriginKiosk"],
        type: 'histogram',
      };
      var walk_dist_to_origin_kiosk_histogram_layout = {
        title: "Passenger Walking Distance to Origin Kiosk",
        xaxis: {title: "Distance (meters)"},
        yaxis: {title: "Num of Passengers"}
      }
      var data = [walk_dist_to_origin_kiosk_histogram];
      Plotly.newPlot('WalkDistToOriginKioskHistogram', data, walk_dist_to_origin_kiosk_histogram_layout);

      var total_walk_dist_to_origin_kiosk = 0;
      for (let i = 0; i < METRICS["WalkDistToOriginKiosk"].length; i++) {
          total_walk_dist_to_origin_kiosk += METRICS["WalkDistToOriginKiosk"][i];
      }
      $('#TotalWalkDistToOriginKiosk').html("Sum of Passenger Walk Distances to Origin Kiosk: " + total_walk_dist_to_origin_kiosk.toFixed(2).toString() + " meters")

      //////
      var walk_dist_to_dest_kiosk_histogram = {
        x: METRICS["WalkDistToDestKiosk"],
        type: 'histogram',
      };
      var walk_dist_to_dest_kiosk_histogram_layout = {
        title: "Passenger Walking Distance from Destination Kiosk",
        xaxis: {title: "Distance (meters)"},
        yaxis: {title: "Num of Passengers"}
      }
      var data = [walk_dist_to_dest_kiosk_histogram];
      Plotly.newPlot('WalkDistToDestKioskHistogram', data, walk_dist_to_dest_kiosk_histogram_layout);

      var total_walk_dist_to_dest_kiosk = 0;
      for (let i = 0; i < METRICS["WalkDistToDestKiosk"].length; i++) {
          total_walk_dist_to_dest_kiosk += METRICS["WalkDistToDestKiosk"][i];
      }
      $('#TotalWalkDistToDestKiosk').html("Sum of Passenger Walk Distances from Destination Kiosk: " + total_walk_dist_to_dest_kiosk.toFixed(2).toString() + " meters")

      ////
      var ride_dist_if_taken_alone_histogram = {
        x: METRICS["RideDistIfTakenAlone"],
        type: 'histogram',
      };
      var ride_dist_if_taken_alone_histogram_layout = {
        title: "Passenger Ride Distance If Taken Alone",
        xaxis: {title: "Distance (meters)"},
        yaxis: {title: "Num of Passengers"}
      }
      var data = [ride_dist_if_taken_alone_histogram];
      Plotly.newPlot('RideDistIfTakenAloneHistogram', data, ride_dist_if_taken_alone_histogram_layout);

      /////
      var ride_dist_in_rideshare_histogram = {
        x: METRICS["RideDistInRideshare"],
        type: 'histogram',
      };
      var ride_dist_in_rideshare_histogram_layout = {
        title: "Passenger Ride Distance In Rideshare",
        xaxis: {title: "Distance (meters)"},
        yaxis: {title: "Num of Passengers"}
      }
      var data = [ride_dist_in_rideshare_histogram];
      Plotly.newPlot('RideDistInRideshareHistogram', data, ride_dist_in_rideshare_histogram_layout);

      /////
      var difference_in_distance_between_alone_and_rideshare_histogram = {
        x: METRICS["DifferenceInDistanceBetweenAloneAndRideshare"],
        type: 'histogram',
      };
      var difference_in_distance_between_alone_and_rideshare_histogram_layout = {
        title: "Difference in Distance Between Alone and Rideshare Rides",
        xaxis: {title: "Distance (meters)"},
        yaxis: {title: "Num of Passengers"}
      }
      var data = [walk_dist_to_dest_kiosk_histogram];
      Plotly.newPlot('DifferenceInDistanceBetweenAloneAndRideshareHistogram', data, difference_in_distance_between_alone_and_rideshare_histogram_layout);


    </script>
    <!--
      This HTML file is a template.
      If you open it directly in the browser, you will see an empty page.

      You can add webfonts, meta tags, or analytics to this file.
      The build step will place the bundled scripts into the <body> tag.

      To begin the development, run `npm start` or `yarn start`.
      To create a production bundle, use `npm run build` or `yarn build`.
    -->
  </body>
</html>
